MONGO_URI=mongodb+srv://<user>:<password>@cluster0.ecawomc.mongodb.net/energyiq
JWT_SECRET=your_secret_key_change_in_production
PORT=5000

# Email (for alert notifications)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=naveenraj9925@gmail.com
SMTP_PASS=dkan hqvk agqj cjvq
SMTP_FROM=EnergyIQ <naveenraj9925@gmail.com>
